@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #F2F2F2;
    color: #333;
}


header {
    background-color: #555;
    color: #FFF;
    padding: 10px;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 5px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav li a#selected {
    background-color: #111;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
    margin: 20px auto;
    background-color: #cfcfcf;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.board:hover {
    transform: rotate(50deg);
}

footer {
    background-color: #555;
    color: #FFF;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}