@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #F2F2F2;
    color: #333;
}


header {
    background-color: #555;
    color: #FFF;
    padding: 10px;
}


nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav li a#selected {
    background-color: #111;
}

/*Main*/

footer {
    background-color: #555;
    color: #FFF;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}